*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #184260;
    --bg-main-color: #e0f2fc;
}

html,
.page {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.06em;

    color: var(--main-color);
    background-color: var(--bg-main-color);
}

.container {
    padding: 0 1.2rem;
    margin: 0 auto;
}

.link {
    cursor: pointer;
    transition: color 0.3s ease;
}

.link:hover,
.link:focus,
.link:active {
    opacity: .75;
}

/*  -------------------------  Header styles start -------------------------------  */

.header,
.footer {
    background-color: rgb(238, 251, 154);
    color: rgb(110, 157, 210);
}

.header__content {
    padding: 1.1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
    line-height: 100%;
}

/*  -------------------------  Header styles end -------------------------------  */

/*  -------------------------  Main styles start -------------------------------  */

.main {
    flex: 1 0 auto;
}

.main__content {
    padding: 1.5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    background-image: linear-gradient(to right, rgb(121, 176, 239), rgb(240, 240, 128));

    border-radius: 1.3rem;

    cursor: pointer;
}

.item {
    border-bottom: 0.1rem solid;
    border-image: linear-gradient(to right, #74afdf, #e6e664) 0 0 1 0;
}

.item__input {
    display: none;
}

.item__label_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 0.3s ease;
    cursor: pointer;
}

.item__icon {
    font-size: 1.5rem;
    opacity: 0;
    transform: rotate(0deg);
    transition: all 0.6s ease;
}

.item__label_img>.item__img {
    margin: 0.5rem 2rem;
    max-height: 0;

    border-radius: 0.5rem;

    overflow: hidden;
    transition: max-height 0.8s ease;
    cursor: pointer;
}

.items:hover>.item>.item__label_title {
    color: #062034;
    transition: color 0.6s ease;
}

.items:hover>.item>.item__label_title>.item__icon {
    opacity: 1;
    transition: all 0.6s ease;
}

.item>.item__input:checked+.item__label_title>.item__icon {
    opacity: 0;
}

.items:hover>.item>.item__input:checked+.item__label_title>.item__icon {
    opacity: 0.7;
}

.item:hover>.item__label_title {
    opacity: 0.6;
}

.item:hover>.item__label_title>.item__icon {
    transform: rotate(45deg);
}

.item:hover>.item__label_img>.item__img,
.item__input:checked~.item__label_img>.item__img {
    max-height: 20rem;
}

.item__input:checked+.item__label_title {
    opacity: 0.7;
}

.item__input:checked+.item__label_title>.item__icon {
    transform: rotate(45deg);
    opacity: 0.7;
}

.item:active {
    cursor: all-scroll;
    transition: all 0.3s ease;
}

.item__label_title:active {
    cursor: all-scroll;
}

.item:active>.item__label_title {
    opacity: 0.3;
}

.item:active>.item__label_img>.item__img {
    filter: blur(0.06rem);
    cursor: all-scroll;
    transition: all 0.6s ease;
}

/*  -------------------------  Main styles end -------------------------------  */

/*  -------------------------  Footer styles start -------------------------------  */

.footer {
    flex: 0 0 auto;
}

.footer__content {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.8rem;
}

.rs-school__img {
    opacity: 0.7;
}

/*  -------------------------  Footer styles end -------------------------------  */


/*  -------------------------  Media styles start -------------------------------  */

@media screen and (max-width: 820px) {

    .page {
        font-size: 1.1rem;
    }

    .header__content {
        font-size: 1.5rem;
    }

    .item__label_img>.item__img {
        width: 18rem;
        height: 12rem;
    }

    .item__label_title:hover~.item__label_img>.item__img {
        max-height: 0;
    }

    .item__input:checked~.item__label_img>.item__img {
        max-height: 20rem;
    }

}

@media screen and (max-width: 500px) {

    .items {
        padding: 0.8rem;
    }

    .item__label_img>.item__img {
        width: 14.5rem;
        height: 10rem;
    }

    .item__label_img>.item__img {
        margin: 0.5rem 0.0.5rem;
    }

}

@media screen and (max-width: 320px) {

    .page {
        font-size: 0.8rem;
    }

    .header__content {
        font-size: 1.4rem;
    }

    .item__label_img>.item__img {
        width: 13rem;
        height: 9rem;
    }

    .item__icon {
        font-size: 1.2rem;
    }

}

/*  -------------------------  Media styles end -------------------------------  */