*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #184260;
    --bg-main-color: #e0f2fc;
}

html,
.page {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.06em;

    color: var(--main-color);
    background-color: var(--bg-main-color);
}

.page._lock {
    overflow: hidden;
}

.container {
    padding: 0 1.2rem;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {}

.btn:active {}

.link {
    cursor: pointer;
    transition: color 0.3s ease;
}

.link:hover,
.link:focus,
.link:active {
    opacity: .75;
}

/*  -------------------------  Header styles start -------------------------------  */

.header,
.footer {
    background-color: rgb(238, 251, 154);
}

.header__content {
    padding: 1.5rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    line-height: 100%;

    color: rgb(64, 148, 252);
}

/*  -------------------------  Header styles end -------------------------------  */

/*  -------------------------  Main styles start -------------------------------  */

.main__content {
    padding: 1.5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 0.7rem; 
}

.item__text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease;
    cursor: pointer;
}

.item__text:hover {
    opacity: 0.7;
}

.item__img {
    /* display: none; */
    }

.item__title:hover .item__img {
display: block;
}

.close {
    transition: all 0.3s ease;
    /* position: absolute; */
    /* right: 32px; */
    /* top: 32px; */
    /* width: 32px; */
    /* height: 32px; */
    opacity: 0;
    /* background-color: #333; */
}

.page:hover.close {
    opacity: 1;
}

/* .close:before,  */
.close:after {
  /* position: absolute; */
  /* left: 15px; */
  content: '+';
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--main-color);
  /* height: 33px; */
  /* width: 2px; */
  /* background-color: #333; */
}

.item__text:hover .close:hover {
    transform: rotate(45deg);
  }

.close:before {
    /* transform: rotate(45deg); */
  }
  .close:after {
    /* transform: rotate(-45deg); */
  }

/*  -------------------------  Main styles end -------------------------------  */

/*  -------------------------  Footer styles start -------------------------------  */

.footer__content {
    padding: 1.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center; 

    font-size: 0.8rem;

    color: rgb(64, 148, 252);
}

.my-github__img {
    
}

/*  -------------------------  Footer styles end -------------------------------  */
