*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #184260;
    --bg-main-color: #e0f2fc;
}

html,
.page {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.06em;

    color: var(--main-color);
    background-color: var(--bg-main-color);
}

.container {
    padding: 0 1.2rem;
    margin: 0 auto;
}

.link {
    cursor: pointer;
    transition: color 0.3s ease;
}

.link:hover,
.link:focus,
.link:active {
    opacity: .75;
}

/*  -------------------------  Header styles start -------------------------------  */

.header,
.footer {
    background-color: rgb(238, 251, 154);
}

.header__content {
    padding: 1.1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
    line-height: 100%;

    color: rgb(64, 148, 252);
}

/*  -------------------------  Header styles end -------------------------------  */

/*  -------------------------  Main styles start -------------------------------  */

.main {
    flex: 1 0 auto;
}

.main__content {
    padding: 1.5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    width: 23.7rem;
}

.item {
    margin-bottom: 0.5rem;
}

.item__label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 0.3s ease;
    cursor: pointer;
}

.item__label:hover {
    opacity: 0.6;
}

.item__label+.item__input:checked+.item__icon {
    transform: rotate(45deg);
}

.item__icon {
    font-size: 1.5rem;
    /* opacity: 0; */
    transform: rotate(0deg);
    transition: all 0.6s ease;
}

.item__icon:hover {
    transform: rotate(45deg);
}

.item__label+.item__input {
    display: none;
}

.item__img {
    padding: 0.5rem 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.item__label+.item__input:checked+.item__img {
    max-height: 20rem;
}

.item__label:hover+.item__img {
    /* max-height: 20rem; */
}

.page+.items.item.item__label.item__icon {
    /* opacity: 0; */
}

.page:hover+.items.item.item__label.item__icon {
    /* opacity: 1; */
}

/*  -------------------------  Main styles end -------------------------------  */

/*  -------------------------  Footer styles start -------------------------------  */

.footer {
    flex: 0 0 auto;
}

.footer__content {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.8rem;

    color: rgb(64, 148, 252);
}

/*  -------------------------  Footer styles end -------------------------------  */

@media screen and (max-width: 820px) {

    .page {
        font-size: 1.1rem;
    }

    .header__content {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 320px) {

    .page {
        font-size: 0.8rem;
    }

    .header__content {
        font-size: 1.4rem;
    }

    .items {
        width: 14rem;
    }

    .item__img {
        width: 14rem;
        height: 9rem;
    }

    .item__icon {
        font-size: 1.2rem;
    }

}